            <footer>
                <div class="imgFooter"></div>
                <div class="local">
                    <span class="titleFooter">ESCOLA MUNICÍPAL DE EDUCAÇÃO BÁSICA PINGO DE GENTE</span>
                    <span><a href="https://maps.app.goo.gl/TgZztnL5Yj343sj16" target="_blank">RUA ISABEL MARIA VIEIRA EIRO, S/N, JARDIM EIJI MATSUMURA</a></span>
                    <span>REGISTRO/SP - 11.900-000</span>
                    <span><a href="https://api.whatsapp.com/send?phone=551338225152" target="_blank">(13) 3822-5152</a></span>
                    <span><a href="mailto:emeb.pingodegentergt@gmail.com?subject=CONTATO" target="_blank">emeb.pingodegentergt@gmail.com</a></span>
                </div>
            </footer>
        </body>
    </html>