<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" type="image/x-icon" href="/assets/imgs/favicon-32x32.png">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
            <script src="/js/script.js"></script>
            <!--<script src="/js/snowflake.js"></script>
             Snowflake script from https://codepen.io/mark_sottek/pen/GgKKZXZ -->
            <title>EMEB PINGO DE GENTE</title>
        </head>
        <body>
            <header>
                
            </header>
            <nav>
                <ul>
                    <li class="imgHome"><a class="first" href="/home"></a></li>
                    <li><a href="/home">INICIO</a></li>
                    <li><a href="/sobre">PINGO DE GENTE</a></li>
                    <li><a href="/docentes">CORPO DOCENTE</a></li>
                    <li><a href="/localizacao">LOCALIZAÇÃO</a></li>
                    <li class="diff more">
                        <a>MAIS
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="subMenu">
                            <li><a class="first" href="/calendario">CALENDÁRIO ESCOLAR</a></li>
                            <li><a href="/cardapio">CARDÁPIO ESCOLAR</a></li>
                            <li><a href="/transparencia">TRANSPARÊNCIA</a></li>
                            <li><a href="/achados">ACHADOS E PERDIDOS</a></li>
                        </ul>
                    </li>
                    <li class="diff">
                        <a class="last" href="login">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navResponsive">
                    <li class="imgHome"><a class="first"></a></li>
                </ul>
                <ul class="optResponvisve">
                    <li><a class="firstResponsive" href="/home">INICIO</a></li>
                    <li><a href="/sobre">PINGO DE GENTE</a></li>
                    <li><a href="/docentes">CORPO DOCENTE</a></li>
                    <li><a href="/localizacao">LOCALIZAÇÃO</a></li>
                    <li class="diff more">
                        <a>MAIS
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="subMenu">
                            <li><a class="first" href="/calendario">CALENDÁRIO ESCOLAR</a></li>
                            <li><a href="/cardapio">CARDÁPIO ESCOLAR</a></li>
                            <li><a href="/transparencia">TRANSPARÊNCIA</a></li>
                            <li><a href="/achados">ACHADOS E PERDIDOS</a></li>
                        </ul>
                    </li>
                    <li class="diff">
                        <a class="lastResponsive" href="login">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>
            </nav>