<%- include('partials/header.ejs') %>

            <main>
                <section class="achadosSection">
                    <div class="album">
                        <div class="pics">
                            <img src="https://i.imgur.com/mE3tYPb.jpeg" alt="">
                            <img src="https://i.imgur.com/ba959gP.jpeg" alt="">
                            <img src="https://i.imgur.com/lmAZkbw.jpeg" alt="">
                            <img src="https://i.imgur.com/IvROEHx.jpeg" alt="">
                            <img src="https://i.imgur.com/mE3tYPb.jpeg" alt="">
                            <img src="https://i.imgur.com/ba959gP.jpeg" alt="">
                            <img src="https://i.imgur.com/lmAZkbw.jpeg" alt="">
                            <img src="https://i.imgur.com/IvROEHx.jpeg" alt="">
                            <img src="https://i.imgur.com/mE3tYPb.jpeg" alt="">
                            <img src="https://i.imgur.com/ba959gP.jpeg" alt="">
                            <img src="https://i.imgur.com/lmAZkbw.jpeg" alt="">
                            <img src="https://i.imgur.com/IvROEHx.jpeg" alt="">
                        </div>
                    </div>
                </section>
            </main>

<%- include('partials/footer.ejs') %>