<%- include('partials/header.ejs') %>

            <main>
                <section>
                    <h1>ACHADOS E PERDIDOS</h1>
                </section>
            </main>

<%- include('partials/footer.ejs') %>