<%- include('partials/header.ejs') %>

            <main class="achadosMain">
                <section class="achadosSection">
                    <div class="album">
                        <div class="pics">
                            
                        </div>
                    </div>
                </section>
            </main>
            <script src="js/achadosScript.js"></script>
<%- include('partials/footer.ejs') %>