<%- include('partials/header.ejs') %>
        <div id="carrinho" class="carrinho">
            <h3>🛒 Pedido Atual</h3>
            <ul id="listaCarrinho"></ul>
            <button id="enviarPedido">Finalizar Pedido</button>
        </div>
        <main class="almoxarifadoMain">
            <div class="containerAlmoxarifado" id="containerAlmoxarifado"></div>
                
            </div>
        </main>

        <script src="js/almoxarifadoScript.js"></script>
<%- include('partials/footer.ejs') %>