<%- include('partials/header.ejs') %>

        <main class="almoxarifadoAtendimento">
            
        </main>

        <script src="js/almoxarifadoAtendimentoScript.js"></script>

<%- include('partials/footer.ejs') %>