<%- include('partials/header.ejs') %>

            <main class="mainCalendar">
                <article class="articleCalendar">
                    <section class="calendarBody">
                        <h1 class="currentDate">
                            <button id="prevMonth" aria-label="Mês anterior">&lt;</button>
                            <span id="mouth">MÊS</span> <span id="year">/ANO</span>
                            <button id="nextMonth" aria-label="Próximo mês">&gt;</button>
                        </h1>
                        <h2 class="schoolDays">
                            <span id="shoolDaysCurrent">0</span>
                            <span>/200</span>
                        </h2>
                        <div class="calendar">
                            <div id="titleCalendar">
                                <span>Dom</span>
                                <span>Seg</span>
                                <span>Ter</span>
                                <span>Qua</span>
                                <span>Qui</span>
                                <span>Sex</span>
                                <span>Sab</span>
                            </div>
                            <div id="bodyCalendar"></div>
                            <div class="events"></div>
                        </div>
                    </section>
                    <section class="calendarInfo">
                        <div>
                            <h3>
                                O <a href="https://drive.google.com/drive/folders/1L9rGVZ3pPzq9AoW2AtFTmY_o9VQ4vYw3?usp=sharing" target="_blank">calendário escolar das EMEBs e CRECHES</a> é definido pela Supervisão de ensino e pela e homologado pelo(a) Diretor(a) Geral de Educação seguindo às disposições legais e regimentais contidas no Artigo 24, Inciso I da LDBEN nº 9394/96, nos Artigos 135 a 139 do Regimento Comum das Escolas de Ensino Fundamental e nos Artigos 82 e 83 do Regimento Comum das Escolas Municipais de Educação Infantil da Prefeitura Municipal de Registro/SP.</p>
                                <p>O calendário escolar pode sofrer alterações ao decorrer do ano letivo.</p>
                            </h3>
                        </div>
                    </section>
                    <script src="js/calendarioScript.js"></script>
                </article>
            </main>

<%- include('partials/footer.ejs') %>