<%- include('partials/header.ejs') %>

            <main>
                <article class="articleCalendar">
                    <section>
                        <h1 class="currentDate">
                            <button id="prevMonth" aria-label="Mês anterior">&lt;</button>
                            <span id="mouth">MÊS</span> <span id="year">/ANO</span>
                            <button id="nextMonth" aria-label="Próximo mês">&gt;</button>
                        </h1>
                        <h2 class="schoolDays">
                            <span id="shoolDaysCurrent">0</span>
                            <span>/200</span>
                        </h2>
                        <div class="calendar">
                            <div id="titleCalendar">
                                <span>Dom</span>
                                <span>Seg</span>
                                <span>Ter</span>
                                <span>Qua</span>
                                <span>Qui</span>
                                <span>Sex</span>
                                <span>Sab</span>
                            </div>
                            <div id="bodyCalendar"></div>
                            <div class="events"></div>
                        </div>
                    </section>
                    <script src="js/calendarioScript.js"></script>
                </article>
            </main>

<%- include('partials/footer.ejs') %>