<%- include('partials/header.ejs') %>

            <main class="mainDocentes">
                <section class="sectionDocentes">
                    <div class="container">
                        <div id="image">
                            <h2>Professor 1</h2>
                            <p>Jardim 1-A</p>
                            <button type="button" id="btn" onclick="func()">View Profile</button>
                        </div>
                        <div id="content">
                            <div class="pens">
                                <p id="num">180</p>
                                <p>Pens</p>
                            </div>
                            <div class="followers">
                                <p id="num">2950</p>
                                <p>Followers</p>
                            </div>
                            <div class="projects">
                                <p id="num">20</p>
                                <p>Projects</p>
                            </div>
                        </div>
                        <div id="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div id="image">
                            <h2>Professor 2</h2>
                            <p>Jardim 1-B</p>
                            <button type="button" id="btn" onclick="func()">View Profile</button>
                        </div>
                        <div id="content">
                            <div class="pens">
                                <p id="num">180</p>
                                <p>Pens</p>
                            </div>
                            <div class="followers">
                                <p id="num">2950</p>
                                <p>Followers</p>
                            </div>
                            <div class="projects">
                                <p id="num">20</p>
                                <p>Projects</p>
                            </div>
                        </div>
                        <div id="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                </section>
            </main>
            <script src="js/docentesScript.js"></script>
            
<%- include('partials/footer.ejs') %>