<%- include('partials/header.ejs') %>

            <main class="mainDocentes">
                <section class="sectionDocentes">
                    <div class="container">
                        <div class="image">
                            <h2>Rosangela P. Leandro</h2>
                            <p>Diretora Escolar</p>
                            <button type="button" class="btn" data-id="1" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="http://lattes.cnpq.br/1744374170843878" target="_blank">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Julia Gabriela M. Gato</h2>
                            <p>Coordenadora Pedagógica Substituta</p>
                            <button type="button" class="btn" data-id="1" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Denis Hitoshi G. Komine</h2>
                            <p>Supervisor de Ensino</p>
                            <button type="button" class="btn" data-id="1" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Rosemeire S. Silva</h2>
                            <p>Jardim 1-A</p>
                            <button type="button" class="btn" data-id="1" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Marinalva S. Pereira</h2>
                            <p>Jardim 1-B</p>
                            <button type="button" class="btn" data-id="2" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Denise G. Barros</h2>
                            <p>Jardim 2-A</p>
                            <button type="button" class="btn" data-id="3" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Marilia Fabiana M. S. Gomes</h2>
                            <p>Jardim 2-B</p>
                            <button type="button" class="btn" data-id="4" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Ana Paula da Silva</h2>
                            <p>1º Ano - A</p>
                            <button type="button" class="btn" data-id="5" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Andreia F.</h2>
                            <p>1º Ano - B</p>
                            <button type="button" class="btn" data-id="6" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Lucimara M. T. Tognin</h2>
                            <p>2º Ano - A</p>
                            <button type="button" class="btn" data-id="7" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Fabiana D. França</h2>
                            <p>2º Ano - A</p>
                            <button type="button" class="btn" data-id="7" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Giovany D. Pereira</h2>
                            <p>2º Ano - B</p>
                            <button type="button" class="btn" data-id="8" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Renata Francisca de Camargo</h2>
                            <p>3º Ano - A</p>
                            <button type="button" class="btn" data-id="9" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Carla Andressa B. Gonçalves</h2>
                            <p>4º Ano - A</p>
                            <button type="button" class="btn" data-id="10" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Jessika Emanuelly S. Salustiana</h2>
                            <p>4º Ano - B</p>
                            <button type="button" class="btn" data-id="11" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Regiane S. C. Funk</h2>
                            <p>5º Ano - A</p>
                            <button type="button" class="btn" data-id="12" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Rosani M. C. Rodrigues</h2>
                            <p>5º Ano - B</p>
                            <button type="button" class="btn" data-id="13" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num"><a href="#">Lattes</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <script src="js/docentesScript.js"></script>
            
<%- include('partials/footer.ejs') %>