<%- include('partials/header.ejs') %>

            <main class="mainDocentes">
                <section class="sectionDocentes">
                    <div class="container">
                        <div class="image">
                            <h2>Rosemeire S. Silva</h2>
                            <p>Jardim 1-A</p>
                            <button type="button" class="btn" data-id="1" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Marinalva S. Pereira</h2>
                            <p>Jardim 1-B</p>
                            <button type="button" class="btn" data-id="2" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Denise G. Barros</h2>
                            <p>Jardim 2-A</p>
                            <button type="button" class="btn" data-id="3" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Marilia M. Gomes</h2>
                            <p>Jardim 2-B</p>
                            <button type="button" class="btn" data-id="4" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Ana P. Silva</h2>
                            <p>1º Ano - A</p>
                            <button type="button" class="btn" data-id="5" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Andreia F.</h2>
                            <p>1º Ano - B</p>
                            <button type="button" class="btn" data-id="6" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Lucimara M. Tognin</h2>
                            <p>2º Ano - A</p>
                            <button type="button" class="btn" data-id="7" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Giovany D. Pereira</h2>
                            <p>2º Ano - B</p>
                            <button type="button" class="btn" data-id="8" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Renata F. Camargo</h2>
                            <p>3º Ano - A</p>
                            <button type="button" class="btn" data-id="9" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Carla B. Gonçalves</h2>
                            <p>4º Ano - A</p>
                            <button type="button" class="btn" data-id="10" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Jessika S. Salustiana</h2>
                            <p>4º Ano - B</p>
                            <button type="button" class="btn" data-id="11" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Regiane C. Funk</h2>
                            <p>5º Ano - A</p>
                            <button type="button" class="btn" data-id="12" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <h2>Rosani M. Rodrigues</h2>
                            <p>5º Ano - B</p>
                            <button type="button" class="btn" data-id="13" onclick="toggleCard(event)">View Profile</button>
                        </div>
                        <div class="content">
                            <div class="pens">
                                <p class="num">Link</p>
                            </div>
                        </div>
                        <div class="button">
                            <h2>Follow</h2>
                        </div>
                    </div>
                </section>
            </main>
            <script src="js/docentesScript.js"></script>
            
<%- include('partials/footer.ejs') %>