<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/style.css">
            <title>INICIO</title>
        </head>
        <body>
            <header>
                
            </header>
            <nav>
                <ul>
                    <li class="imgHome"></li>
                    <li>INICIO</li>
                    <li class="subMenu">PAGINA 1
                        <ul>
                            <li>PAGINA 1.1</li>
                            <li>PAGINA 1.2</li>
                            <li>PAGINA 1.3</li>
                        </ul>
                    </li>
                    <li>PAGINA 2</li>
                    <li>PAGINA 3</li>
                </ul>
            </nav>
            <main>

            </main>
            <footer>

            </footer>
        </body>
    </html>