<%- include('partials/header.ejs') %>

            <main>
                <section>
                    <p>O site ainda esta em construção mas algumas coisas já estão funcionando como por exemplo</p>
                    <ul>
                        <li><a href="/docentes">CORPO DOCENTE</a></li>
                        <li><a href="/localizacao">LOCALIZAÇÃO</a></li>
                        <li><a class="first" href="/calendario">CALENDÁRIO ESCOLAR</a></li>
                        <li><a href="/cardapio">CARDÁPIO ESCOLAR</a></li>
                        <li><a href="/achados">ACHADOS E PERDIDOS</a></li>
                    </ul>
                </section>
            </main>

<%- include('partials/footer.ejs') %>