<%- include('partials/header.ejs') %>

            <main>
                <section>
                    <h1>O SITE AINDA ESTÁ EM CONSTRUÇÃO MAS A PÁGINA LOCALIZAÇÃO JÁ ESTÁ FUNCIONANDO.</h1>
                    <h2>NELA VOCÊ PODE VERIFICAR SE SEU ENDEREÇO PERTENCE AO SETOR DA NOSSA ESCOLA E, CASO SIM, FAZER O REQUERIMENTO MATRÍCULA.</h2>
                </section>
            </main>

<%- include('partials/footer.ejs') %>