<%- include('partials/header.ejs') %>

            <main>
                <section class="transparenciaSection">
                    <div class="menuTransp">
                        <ul>
                            <li id="sm1">HORÁRIO DOS FUNCIONÁRIOS</li>
                            <li id="sm2">HORÁRIO EDUCAÇÃO FÍSICA</li>
                            <li id="sm3">NORMAS E COMBINADOS</li>
                            <li id="sm4">PORTARIAS - RESOLUÇÕES - LEGISLAÇÕES</li>
                        </ul>
                    </div>
                    <div id="horarioFunc">
                        <h2>Horario de trabalho dos funcionarios</h2>
                        <table class="horariosFuncionarios">
                            <thead>
                                <tr>
                                    <th>MATRICULA</th>
                                    <th>FUNCIONÁRIO</th>
                                    <th>CARGO</th>
                                    <th>ENTRADA</th>
                                    <th>ALMOÇO IDA</th>
                                    <th>ALMOÇO VOLTA</th>
                                    <th>SAÍDA</th>
                                    <th>H.T.P.C. ENTRADA (TERÇA-FEIRA)</th>
                                    <th>H.T.P.C. SAÍDA (TERÇA-FEIRA)</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <div id="horarioEducFis">
                        <h2>Horario educação fisica</h2>
                        <table class="horariosEducacaoFisica horariosFuncionarios">
                            <thead>
                                <tr>
                                    <th>MATRICULA</th>
                                    <th>PROFESSOR</th>
                                    <th>DIA DA SEMANA</th>
                                    <th>HORARIO INICIO</th>
                                    <th>HORARIO FIM</th>
                                    <th>TURMA</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <div id="normas">
                        <h1>Normas</h1>
                    </div>
                    <div id="portarias">
                        <h1>Portarias</h1>
                    </div>
                </section>
            </main>
            <script src="js/transparenciaScript.js"></script>
<%- include('partials/footer.ejs') %>