<%- include('partials/header.ejs') %>

            <main>
                <section class="transparenciaSection">
                    <div class="menuTransp">
                        <ul>
                            <li id="sm1">HORÁRIO DOS FUNCIONÁRIOS</li>
                            <li id="sm2">HORÁRIO EDUCAÇÃO FÍSICA</li>
                            <li id="sm3">NORMAS E COMBINADOS</li>
                            <li id="sm4">PORTARIAS - RESOLUÇÕES - LEGISLAÇÕES</li>
                        </ul>
                    </div>
                    <div id="horarioFunc">
                        <h2>Horario de trabalho dos funcionarios</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>MATRICULA</th>
                                    <th>FUNCIONÁRIO</th>
                                    <th>CARGO</th>
                                    <th>ENTRADA</th>
                                    <th>ALMOÇO IDA</th>
                                    <th>ALMOÇO VOLTA</th>
                                    <th>SAÍDA</th>
                                    <th>H.T.P.C. ENTRADA (TERÇA-FEIRA)</th>
                                    <th>H.T.P.C. SAÍDA (TERÇA-FEIRA)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4841</td>
                                    <td>ALEXANDRE VILAFANHA CORREIA</td>
                                    <td>ATENDENTE ESCOLAR</td>
                                    <td>8:15</td>
                                    <td>12:45</td>
                                    <td>14:00</td>
                                    <td>17:30</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>2772</td>
                                    <td>ANA PAULA DA SILVA</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>3423</td>
                                    <td>ANDREIA DE FREITAS</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>12:30</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>17:30</td>
                                    <td>8:00</td>
                                    <td>10:00</td>
                                </tr>
                                <tr>
                                    <td>1002559</td>
                                    <td>CARLA ANDRESSA BAUMGARTNER GONÇALVES</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>1002453</td>
                                    <td>DENISE GONÇALVES BARROS</td>
                                    <td>PROFESSORA DE EDUCAÇÃO INFANTIL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>2650</td>
                                    <td>FABIANA DIRCE DE FRANÇA</td>
                                    <td>PROFESSORA SUBSTITUTA DE ENSINO FUNDAMENTAL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>5524</td>
                                    <td>GIOVANY DIAS PEREIRA</td>
                                    <td>PROFESSOR DE ENSINO FUNDAMENTAL</td>
                                    <td>12:30</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>17:30</td>
                                    <td>8:00</td>
                                    <td>10:00</td>
                                </tr>
                                <tr>
                                    <td>5458</td>
                                    <td>JESSIKA EMANUELLY SOUZA SALUSTIANA</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>12:30</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>17:30</td>
                                    <td>8:00</td>
                                    <td>10:00</td>
                                </tr>
                                <tr>
                                    <td>1003427</td>
                                    <td>REGIANE DOS SANTOS CARVALHO FUNK</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>1002181</td>
                                    <td>RENATA FRANCISCA DE CAMARGO</td>
                                    <td>PROFESSORA DE ENSINO FUNDAMENTAL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                                <tr>
                                    <td>2056</td>
                                    <td>ROSEMEIRE DA SILVA ALMEIDA</td>
                                    <td>PROFESSORA DE EDUCAÇÃO INFANTIL</td>
                                    <td>7:00</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>12:00</td>
                                    <td>14:00</td>
                                    <td>16:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="horarioEducFis">
                        <h1>Horario educação fisica</h1>
                    </div>
                    <div id="normas">
                        <h1>Normas</h1>
                    </div>
                    <div id="portarias">
                        <h1>Portarias</h1>
                    </div>
                </section>
            </main>
            <script src="js/transparenciaScript.js"></script>
<%- include('partials/footer.ejs') %>