<%- include('partials/header.ejs') %>

            <main>
                <section>
                    <div id="horarioFunc"></div>
                    <div id="horarioEducFis"></div>
                    <div id="normas"></div>
                    <div id="portarias"></div>
                </section>
            </main>

<%- include('partials/footer.ejs') %>