<%- include('partials/header.ejs') %>

            <main>
                <section class="transparenciaSection">
                    <div class="menuTransp">
                        <ul>
                            <li id="sm1">HORÁRIO DOS FUNCIONÁRIOS</li>
                            <li id="sm2">HORÁRIO EDUCAÇÃO FÍSICA</li>
                            <li id="sm3">NORMAS E COMBINADOS</li>
                            <li id="sm4">PORTARIAS - RESOLUÇÕES - LEGISLAÇÕES</li>
                            <li id="sm5">PATRIMÔNIO</li>
                        </ul>
                    </div>
                    <div id="horarioFunc">
                        <h2>Horario de trabalho dos funcionarios</h2>
                        <table class="horariosFuncionarios">
                            <thead>
                                <tr>
                                    <th>MATRICULA</th>
                                    <th>FUNCIONÁRIO</th>
                                    <th>CARGO</th>
                                    <th>ENTRADA</th>
                                    <th>ALMOÇO IDA</th>
                                    <th>ALMOÇO VOLTA</th>
                                    <th>SAÍDA</th>
                                    <th>H.T.P.C. ENTRADA (TERÇA-FEIRA)</th>
                                    <th>H.T.P.C. SAÍDA (TERÇA-FEIRA)</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <div id="horarioEducFis">
                        <h2>Horario educação fisica</h2>
                        <table class="horariosEducacaoFisica horariosFuncionarios">
                            <thead>
                                <tr>
                                    <th>MATRICULA</th>
                                    <th>PROFESSOR</th>
                                    <th>DIA DA SEMANA</th>
                                    <th>HORARIO INICIO</th>
                                    <th>HORARIO FIM</th>
                                    <th>TURMA</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                    <div id="normas">
                        <h2>Normas e regras de convivência</h2>
                        <div class="normasEscolares">
                            <p>ENTRADA/SAÍDA DOS ALUNOS SOMENTE PELO PORTÃO PEQUENO/FRENTE (PARA CONTROLE DOS FUNCIONÁRIOS)</p>
                            <p>HORÁRIO:</p>
                            <ul>
                                <li>ENTRADA no período da MANHÃ é das 06H50 as 07H00.</li>
                                <li>ENTRADA no período da TARDE é das 12H30 as 12H40.</li>
                                <li>SAÍDA no período da MANHÃ é às 11H20 – JARDINS E 1º ANO, 11H30 – 2º AO 5º ANO.</li>
                                <li>SAÍDA no período da TARDE é às 16H50 – JARDINS E 1º ANO, 17H00 – 2º AO 5º ANO.</li>
                            </ul>
                            <p>OS RESPONSÁVEIS ENTREGAM E RETIRAM AS CRIANÇAS NO PORTÃO DA ESCOLA COM O (A) FUNCIONÁRIO (A).</p>
                            <p>A partir da 2ª incidência de atraso o responsável será convocado na secretaria para esclarecimentos e assinatura de ata de ocorrência, na 3ª incidência não será liberado a entrada.</p>
                            <p>Saídas antecipadas devem ser comunicadas e serão assinadas em livro.</p>
                            <p>Se houver necessidade de conversar com o(a) professor(a) da sala, enviar bilhete no caderno/caderneta para assuntos corriqueiros ou podem ser comunicados via Whatsapp da escola pelo número <a href="">(13) 3822-5152.</a></p>
                            <p>Em casos extremos procurar a Coordenação/Direção para agendamento de horário;</p>
                            <p>Evitar atrasos na saída das crianças, observando que o atraso pode acarretar em prejuízos emocionais à criança e atrapalha o andamento dos trabalhos da escola.</p>
                            <p>Garantir a assiduidade e pontualidade nas atividades da escola.</p>
                            <p>Em casos de consultas médicas ou laboratoriais será permitida a entrada desde que comprovadas com declaração de comparecimento/atestado e se for avisado com antecedência.</p>
                            <p>Não é permitida a volta da criança à escola no mesmo dia, se retirada no meio do expediente, por qualquer que seja o motivo.</p>
                            <p>A criança só sairá da escola com o responsável ou alguém que estiver autorizada na ficha da criança. A pessoa deverá trazer o documento com foto para comprovação.</p>
                            <p>A criança que não estiver autorizada a sair sozinha, SOMENTE sairá acompanhada de um adulto responsável.</p>
                            <p>Comunicar a escola o motivo das faltas por escrito explicando o motivo ou declaração/atestado médico para que as mesmas sejam justificadas, lembrando que para quem recebe Bolsa Família deve comprovar 85% presença/mês.</p>
                            <p>Havendo 3 faltas consecutivas, 5 intercaladas, no caso de não haver justificativa por parte do responsável o caso será encaminhado ao Conselho Tutelar e à Diretoria Geral de Educação. Qualquer falta deve ser justificada.</p>
                            <p>Todo o material de uso pessoal da criança deverá estar IDENTIFICADO COM O NOME DA CRIANÇA. A escola se isenta de qualquer responsabilidade referente ao desaparecimento de objetos e vestimentas não identificadas.</p>
                            <p>Os achados e perdidos serão comunicados no canal de avisos do whatsapp e postados no website da escola. Caso dos donos dos pertences não se manifestem dentro de um mês, os mesmos serão doados a instituições de caridade.</p>
                            <p>Os brinquedos dos alunos dos jardins deverão vir somente quando for pedido pela ESCOLA através da agenda. Os brinquedos também deverão vir identificados com o nome e turma da criança. NÃO SERÃO PERMITIDOS BRINQUEDOS QUE ESTIMULEM A VIOLÊNCIA.</p>
                            <p>Toda a alimentação da criança será dada pela escola com base no cardápio escolar elaborado pela equipe de nutrição da Divisão de Gestão de Políticas Públicas da Alimentação Escolar. Por isso não permitidos entrada de balas, doces, biscoitos ou qualquer outro alimento. Se a criança possuir algum problema de intolerância alimentar ou uma dieta especial, os responsáveis deverão trazer do pediatra/médico o laudo e o cardápio da criança para ser substituído. A escola faz um trabalho de incentivo à alimentação saudável durante a merenda servida nas unidades.</p>
                            <p>SEMPRE manter atualizado os endereços, telefones para contato e pessoas autorizadas para retirar o aluno (a).</p>
                            <p>Os pais ou responsáveis pelos alunos, como participantes do processo educativo, têm direito à informação sobre sua vida escolar, bem como o direito de apresentar sugestões e críticas quanto ao processo educativo, principalmente através das Reuniões de Pais e Mestres, agendamento com Direção/Coordenação, horário de intervalo dos professores, educação física e saída para esclarecimentos.</p>
                            <p>Como não temos profissionais da saúde na escola, qualquer aparecimento de febre, vômito, diarreia, erupção na pele, piolho ou algum outro sintoma que nos preocupe e que possa ser transmitido para outras crianças, chamaremos IMEDIATAMENTE o responsável da criança. Esta só poderá retornar à escola, mediante atestado médico liberando a criança para frequentar normalmente. Em caso de febre, a criança só poderá retornar dentro de 24H sem o sintoma, no caso de piolho poderá frequentar após 3 dias e com a cabeça limpa e atestado liberando para frequentar a escola.</p>
                            <p>Ter cuidado com a higiene das unhas e cabelos.</p>
                            <p>Por motivos de higiene e prevenção de doenças, não há copos coletivos na escola. Os alunos devem trazer garrafinhas d’água para uso e as mesmas devidamente nomeadas.</p>
                            <p>Os medicamentos só poderão ser administrados pelos responsáveis. Não podemos viabilizar nebulizações, remédios homeopáticos, cujas doses sejam de intervalos curtos, além de vitaminas, estimulantes de apetite e ou exame de fezes e urina.</p>
                            <p>Em caso da necessidade da retirada do aluno por menor, os pais ou responsáveis deverão fazer uma autorização junto à coordenação ou direção.</p>
                            <p>Os cadernos/atividades/cadernetas da criança devem ser vistados todos os dias.</p>
                            <p>Os casos de indisciplinas a escola juntamente com o Conselho de Escola tomarão as medidas cabíveis.</p>
                            <p>Solicitação de declarações escolares podem ser feitas na secretaria da escola, pelo telefone ou whatsapp 3822-5152 (horário de funcionamento da Secretaria da Escola das 08H00 às 12H00 e das 13H30 às 17H30).</p>
                        </div>
                    </div>
                    <div id="portarias">
                        <h2>Portarias</h2>
                        <div>
                            <label for="corteEtario">Corte etário</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1Ygy2-V1RzMEpUj4UsOKUIeEyMuE10TuY/view?usp=drive_link" target="_blank">Deliberação Conselho Estadual de Educação (CEE) 166/2019</a></li>
                                <li><a href="https://drive.google.com/file/d/183BZPVGzgDijtmIXz0UjMJx15YfnvsS6/view?usp=drive_link" target="_blank">Deliberação Conselho Municipal de Educação (CME) 01/2019</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="demanda">Portarias demanda escolar</label>
                            <ul class="demanda">
                                <li><a href="https://drive.google.com/file/d/1PQT6nz5nU6n-bliIfIR2ycn5BP8SExmh/view?usp=drive_link" target="_blank">Portaria 12/2018 - Demanda escolar para 2019</a></li>
                                <li><a href="https://drive.google.com/file/d/14Jq0Nt8U9QEDXMz9bqHm8_OLK0CaGOWY/view?usp=drive_link" target="_blank">Portaria 06/2019 - Demanda escolar para 2020</a></li>
                                <li><a href="https://drive.google.com/file/d/1G-tj19aW215w7sQJA0UJULkHpMUTbga4/view?usp=sharing" target="_blank">Portaria 14/2020 - Demanda escolar para 2021</a></li>
                                <li><a href="https://drive.google.com/file/d/10bTkifFr7nGvhcayqXMhzQc9W5rSZ1k9/view?usp=drive_link" target="_blank">Portaria 15/2021 - Demanda escolar para 2022</a></li>
                                <li><a href="https://drive.google.com/file/d/1gyRJoDXD_D29iNaNfhE3Rvdq61Yjx2HI/view?usp=drive_link" target="_blank">Portaria 13/2022 - Demanda escolar para 2023</a></li>
                                <li><a href="https://drive.google.com/file/d/1Ko-ewPzUOkl_KXjt4mzAbFy8FdgZLaQu/view?usp=drive_link" target="_blank">Portaria 20/2023 - Demanda escolar para 2024</a></li>
                                <li><a href="https://drive.google.com/file/d/1YzlEhV7P_CztMVKHNNQJhojcQcgAF0K0/view?usp=sharing" target="_blank">Portaria 22/2024 - Demanda escolar para 2025</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="matrizCurricular">Matriz curricular</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1hjgu2qfctjzsMDaMrB4wo_vTDoKdSo8K/view?usp=drive_link" target="_blank">Portaria 03/2019 - Estabelece diretrizes curriculares para a educação infantil e ensino fundamental 1, nas escolas municipais.</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="cracha">Crachas e uniformes</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/13s9r0nqAcgq-5OrYfULS-WthFF4mUGJ0/view?usp=drive_link" target="_blank">Decreto 1.952 DE 30 DE SETEMBRO DE 2014 - Dispõe o uso de crachá e uniforme pelos servidores da prefeitura municipal de Registro.</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="suspensaoExpediente">Suspensão de expediente</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1Q3AWkiVA9YoiRTsLHgu0OFWC9FIfidi7/view?usp=drive_link" target="_blank">Decreto 3.836 de 01 de novembro 2025 - Suspende o expediente nas repartições públicas municipais</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="feriados">Calendário de feriados</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1eBc_AoaPKoSdFRVSwneWTpt5mUTdn5fM/view?usp=drive_link" target="_blank">Decreto 3.844 de 18 de novembro de 2024 - Dispõe sobre o calendário de feriados e pontos facultativos</a></li>
                            </ul>
                        </div>
                        <div>
                            <label for="pandemia">Pandemia</label>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1TufU7Xo0VwyFXJRvjz_DAdcWh5nhC-dl/view?usp=sharing" target="_blank">Decreto 3124 de 24 de março de 2021 - Institui lockdown moderado</a></li>
                                <li><a href="https://drive.google.com/file/d/1ICElRY8P5vn7MBUOj7Wn-nM-kKbC8oo_/view?usp=sharing" target="_blank">Portaria 05/2021 - Normatiza o Decreto 3124/2021 que institui o lockdown moderado.</a></li>
                                <li><a href="https://drive.google.com/file/d/1l06FKichkKXFfDHj5blZmZmD_6-0fLuq/view?usp=sharing" target="_blank">Decreto 3125 de 26 de março de 2021 - Institui lockdown moderado</a></li>
                                <li><a href="https://drive.google.com/file/d/186JVjdIHwObO6WyX_i_MfuIHQdSAa82h/view?usp=sharing" target="_blank">Decreto 3361 de 31 de maio de 2022 - Torna obrigatório o uso de máscaras</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="patrimonio">
                        <h2>PATRIMÔNIO</h2>
                        <a href="https://docs.google.com/spreadsheets/d/1wumugXybJO41rOmdKVW0evthm4hAVpb2Qrx-TpS6rkQ/edit?usp=sharing">LISTA DE PATRIMÔNIO - EMEB PINGO DE GENTE</a>
                    </div>
                </section>
            </main>
            <script src="js/transparenciaScript.js"></script>
<%- include('partials/footer.ejs') %>