@import url('https://fonts.cdnfonts.com/css/recoleta');
@import url('https://fonts.cdnfonts.com/css/bogart');
@import url(https://db.onlinewebfonts.com/c/794a0de6a529290274465576a9a6990b?family=Block+Berthold+Regular);
@import url('https://fonts.cdnfonts.com/css/lexend');

:root {
    --colorPalletOne: #612C8A;
    --colorPalletTwo: #F4C301;
    --colorPalletThree: #FF3366;
    --fontOne: 'Lexend', sans-serif;;
    --fontTwo: 'Bogart', sans-serif;
    --fontThree: 'Recoleta', sans-serif;
    --fontFour: 'Block Berthold Regular';
}

::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar */
    height: 12px; /* Altura para barras horizontais */
}

::-webkit-scrollbar-track {
    background: #FFFFFF; /* Cor do fundo da barra */
    border-radius: 6px; /* Arredondar a borda do track */
}

::-webkit-scrollbar-thumb {
    background: var(--colorPalletThree); /* Cor do "thumb" (a parte que desliza) */
    border-radius: 6px; /* Arredondar a borda do thumb */
    border: 3px solid #FFFFFF; /* Cria um espaço entre o thumb e o track */
}

::-webkit-scrollbar-thumb:hover { background: var(--colorPalletTwo); } /* Cor ao passar o mouse */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fontFour);
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: var(--fontTwo);
}

.snowflake { font-family: Arial, sans-serif; }  /* Set a clean font for Unicode snowflakes */

header {
    width: 100%;
    height: 20rem;
    background-image: url("../assets/imgs/LogoHeader.webp");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav > ul {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-bottom: solid 0.2rem var(--colorPalletOne);
    border-radius: 1rem;
    font-family: var(--fontFour);
    background: var(--colorPalletTwo);
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
}

.navResponsive, .optResponvisve { display: none; }

nav ul > li {
    width: 20%;
    height: 100%;
    display: flex;
}

nav li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.imgHome { width: 10%; }

.imgHome a {
    background-image: url("../assets/imgs/LogoHome.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.diff { width: 8%; }

.more { flex-wrap: wrap; }

.more:hover > .subMenu{ display: block; }

.subMenu {
    position: relative;
    display: none;
    right: 21.1rem;
    width: 30rem;
    height: auto;
    border-top-right-radius: 1rem;
    background-color: var(--colorPalletOne);
}

.subMenu li {
    width: 30rem;
    height: 3rem;
}

.subMenu a { color: #FFFFFF; }

nav a:hover { background-color: var(--colorPalletThree); }

.first:hover {
    background-color: var(--colorPalletThree);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.last:hover {
    background-color: var(--colorPalletThree);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.subMenu:hover { display: block; }

.subMenu a:hover {
    color: #000000;
    background-color: var(--colorPalletTwo);
}

.subMenu .first:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
}

main {
    width: 100%;
    height: 100rem;
    background-color: var(--colorPalletThree);
}

/* -- localizacao.ejs -- */

.localizacao {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.contactContainer{
    width: 85%;
    height: 40%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contactContainer .contactContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactContainer .contactContent .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.contactContent .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.contactContent .left-side .details{
    margin: 14px;
    text-align: center;
}

.contactContent .left-side .details i{
    font-size: 30px;
    color: var(--colorPalletOne);
    margin-bottom: 10px;
}

.contactContent .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
    color: var(--colorPalletOne);
}

.contactContent .left-side .details .text-one,
.contactContent .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}

.details a { text-decoration: none; }

.right-side iframe {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
}

.contactContainer .contactContent .right-side{
    width: 75%;
    margin-left: 75px;
}

.contactContent .right-side .topic-text{
    font-family: var(--fontTwo);
    font-size: 2rem;
    font-weight: 600;
    color: var(--colorPalletOne);
}

.topic-text h1 {
    width: 100%;
    height: 2.5rem;
    font-size: 2rem;
    align-content: center;
}

.topic-text h2 {
    width: 100%;
    height: 1.5rem;
    align-content: center;
    font-size: 1rem;
    color: #000000;
}

.searchBox {
    width: 100%;
    height: 25rem;
}

#search-neighborhood, #search-streets,
#search-house {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#search-neighborhood h2, #search-streets h2,
#search-house h2 {
    width: 100%;
    height: 10%;
    align-content: center;
}

.searchResult {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.searchResult div {
    width: 95%;
    height: 95%;
    padding: 1rem 0 0 1rem;
    overflow: auto;
}

.searchResult h3 { text-transform: uppercase; }

.searchResult p {
    height: 1.7rem;
    align-content: center;
    text-transform: uppercase;
}

.searchResult p:nth-child(odd) {
    color: #FFFFFF;
    background: var(--colorPalletThree);
}

.inputSearch {
    width: 40%;
    height: 10%;
    align-content: center;
}

.inputSearch select {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#input-streets {
    width: 60%;
    height: 50%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#search-house .inputSearch { width: 100%; }

#search-house .inputSearch input { 
    width: 20%;
    height: 50%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#search-house .inputSearch select {
    width: 20%;
}

.house {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.house h3, .house h4 {
    width: 50%;
    height: 2rem;
    align-content: center;
}

.house h3 { text-align: end; }
.house h4 { padding-left: 1rem; }

.house a {
    width: 25%;
    height: 4rem;
    text-align: center;
    align-content: center;
    border: 1px solid var(--colorPalletOne);
    color: #000000;
    background: var(--colorPalletTwo);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 3px 0.1rem var(--colorPalletOne);
}

.house a:hover {
    color: #FFFFFF;
    background: var(--colorPalletThree);
}

#resultadoPesquisa {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

#matricula {
    width: 100%;
    height: 85%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.docsMatricula {
    width: 50%;
    height: 6rem;
    column-count: 2;
    align-content: center;
    text-align: left;
    list-style: none;
    text-transform: uppercase;
}

.docsMatricula li {
    height: 2rem;
}

#numero {
    width: 12%;
    height: 17%;
    border: none;
    box-shadow: none;
}

/* -- -- */

/* -- calendario.ejs -- */

.articleCalendar { align-content: flex-start; }

.currentDate {
    width: 100%;
    height: 5rem;
    font-family: var(--fontTwo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.currentDate span {
    height: 100%;
    text-align: center;
    align-content: center;
}

#mouth { width: 20rem; }

.currentDate button {
    width: 2rem;
    height: 3rem;
    background-color: var(--colorPalletOne);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#prevMonth { margin-right: 1.5rem; }
#prevMonth:hover {
    box-shadow:
                5px 0px 0px 0px var(--colorPalletTwo),
                10px 0px 0px 0 var(--colorPalletThree),
                15px 0px 0px 0px var(--colorPalletOne);
}
#prevMonth:active {
    background-color: var(--colorPalletOne);
    box-shadow:
                5px 0px 0px 0px var(--colorPalletThree),
                10px 0px 0px 0 var(--colorPalletOne),
                15px 0px 0px 0px var(--colorPalletTwo);
}

#nextMonth { margin-left: 1.5rem; }
#nextMonth:hover {
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletTwo),
                -10px 0px 0px 0 var(--colorPalletThree),
                -15px 0px 0px 0px var(--colorPalletOne);
}
#nextMonth:active {
    background-color: var(--colorPalletOne);
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletThree),
                -10px 0px 0px 0 var(--colorPalletOne),
                -15px 0px 0px 0px var(--colorPalletTwo);
}

.schoolDays {
    width: 100%;
    height: 2rem;
    font-family: var(--fontTwo);
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}

.calendar {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-rows: 5rem 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#titleCalendar {
    width: 55%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #000000;
}

#titleCalendar span {
    width: 3rem;
    text-align: center;
}

#bodyCalendar {
    width: 55%;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#bodyCalendar span {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.holiday {
    background-color: #c2c2c2;
    color: #FF0000 !important
}

.previusMouth, .nextMouth {
    background-color: #c2c2c2;
    color: #808080;
}

.weekend {
    background-color: #808080;
    color: #FFFFFF;
}

#bodyCalendar span:hover {
    background-color: var(--colorPalletTwo);
    color: #FFFFFF;
}

#bodyCalendar span:focus {
    background-color: var(--colorPalletOne);
    color: #FFFFFF;
}

.events {
    width: 55%;
    height: 46rem;
    margin-top: 1rem;
    display: flex;
    border: solid 1px #000000;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: scroll;
}

.event {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.event span {
    width: 100%;
    text-align: center;
}

.event:nth-child(odd) {
    background-color: var(--colorPalletOne);
    color: #FFFFFF;
}

/* -- -- */

/* -- login.ejs -- */

.mainLogin { height: 47rem; }

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headLogos, .loginForm {
    width: 30%;
    height: 40%;
    padding: 3rem;
    align-content: center;
    background: var(--colorPalletTwo);
}

.headLogos {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.loginForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.loginForm label, .loginForm input { 
    width: 70%;
    height: 10%;
    align-content: end;
    margin: 0.2rem;
}

.loginForm input {
    background: none;
    border: none;
    border-bottom: 1px solid;
}

.recoveryPass {
    width: 70%;
    height: 10%;
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recoveryPass a { color: var(--colorPalletOne); }
.recoveryPass a:hover { color: var(--colorPalletThree); }

.loginForm hr {
    width: 80%;
    margin: 2rem 0;
    border: 1px solid var(--colorPalletThree);
}

#subBtn {
    width: 30%;
    height: 12%;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    border-radius: 0.3rem;
    background: var(--colorPalletOne);
}

#subBtn:hover { background: var(--colorPalletThree); }

.imgLogo {
    width: 100%;
    height: 50%;
    background-image: url("../assets/imgs/LogoLogin2.webp");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.headLogos h2, .headLogos h3 {
    width: 100%;
    height: 10%;
    align-content: center;
}

.headLogos h2 { font-size: 2.5rem; }
.headLogos h3 { font-size: 1.5rem; }

/* -- -- */

footer {
    width: 100%;
    height: 10rem;
    display: flex;
    background-color: var(--colorPalletTwo);
}

.imgFooter {
    width: 30%;
    height: 100%;
    background-image: url("../assets/imgs/LogoFooter.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.local {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: var(--fontFour);
}

.local span {
    width: 100%;
    height: 1.5rem;
    align-content: center;
}

.titleFooter {
    font-family: var(--fontTwo);
    font-weight: bold;
    font-size: 1.5rem;
}

.local a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.local a:hover{
    text-decoration: underline;
    color: var(--colorPalletThree);
}

/* --- Responsividade --- */

@media (width < 1440px) {
    nav > ul { width: 60%; }
}

@media (width < 769px) {
    header { background-size: inherit; }
    nav { justify-content: flex-start; }

    nav > ul {
        width: 12%;
        display: none;
    }

    .navResponsive {
        position: relative;
        left: 0.1rem;
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0rem;
    }

    .optResponvisve {
        position: relative;
        width: 35%;
        height: 20rem;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        border-bottom: solid 0.2rem var(--colorPalletOne);
        border-top-left-radius: 0rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-family: var(--fontFour);
        background: var(--colorPalletTwo);
        box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    }

    .firstResponsive:hover {
        background-color: var(--colorPalletThree);
        border-top-right-radius: 1rem;
    }

    .lastResponsive:hover {
        background-color: var(--colorPalletThree);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .imgHome {
        width: 100%;
        height: 100%;
    }

    nav ul > li {
        width: 100%;
        height: 16%;
        display: flex
    }

    .diff { width: 100%; }

    .subMenu {
        right: 0;
        width: 17.1rem;
        border-radius: 0rem;
    }

    .subMenu li { width: 100%; }
    .subMenu .first:hover { border-radius: 0; }

    footer {
        height: 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .imgFooter {
        width: 60%;
        height: 100%;
    }

    .local {
        width: 100%;
        height: 100%;
    }

    .local span { height: auto; }
    .titleFooter { font-size: 1rem; }
    .mapResponsivo { overflow-x: scroll; }

    .localizacao {
        width: 80rem;
        display: flex;        ;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .contactContainer {
        width: 70rem;
        height: 45%;
        margin: 1rem;
    }

    .searchResult p { height: 2.5rem; }

    .mainLogin {
        height: 55rem;
        overflow-x: scroll;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .headLogos, .loginForm {
        width: 85%;
        height: 40%;
        padding: 1rem;
        margin: 1rem;
    }

    .imgLogo { background-size: inherit; }

    .headLogos h3 {
        font-size: 1rem;
    }

    .docsMatricula {
        width: 61%;
    }

    #numero {
        width: 17%;
    }
}

@media (width < 426px) {
    header { background-size: 35rem; }
    nav { justify-content: flex-start; }

    nav > ul {
        display: none;
        width: 25%;
    }

    .navResponsive {
        position: relative;
        left: 0.1rem;
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0rem;
    }

    .optResponvisve {
        position: relative;
        width: 60%;
        height: 20rem;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        border-bottom: solid 0.2rem var(--colorPalletOne);
        border-top-left-radius: 0rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-family: var(--fontFour);
        background: var(--colorPalletTwo);
        box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    }

    .firstResponsive:hover {
        background-color: var(--colorPalletThree);
        border-top-right-radius: 1rem;
    }

    .lastResponsive:hover {
        background-color: var(--colorPalletThree);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .imgHome {
        width: 100%;
        height: 100%;
    }

    nav ul > li {
        width: 100%;
        height: 16%;
        display: flex
    }

    .diff { width: 100%; }

    .subMenu{ 
        right: 0;
        width: 13.4rem;
        border-radius: 0rem;
    }

    .subMenu li { width: 12.9rem; }

    .subMenu .first:hover { border-radius: 0; }

    footer {
        height: 15rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imgFooter {
        width: 100%;
        height: 40%;
    }

    .local {
        width: 100%;
        height: 60%;
    }

    .local span { height: auto; }
    .titleFooter { font-size: 1rem; }
    .mapResponsivo { overflow-x: scroll; }

    .localizacao {
        width: 80rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .contactContainer {
        width: 70rem;
        height: 45%;
        margin: 1rem;
    }

    .searchResult p { height: 2.5rem; }

    .mainLogin {
        height: 55rem;
        overflow-x: scroll;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .headLogos, .loginForm {
        width: 85%;
        height: 40%;
        padding: 1rem;
        margin: 1rem;
    }

    .imgLogo { background-size: 30rem; }
    .headLogos h3 { font-size: 1rem; }
}