@import url('https://fonts.cdnfonts.com/css/recoleta');
@import url('https://fonts.cdnfonts.com/css/bogart');
@import url(https://db.onlinewebfonts.com/c/794a0de6a529290274465576a9a6990b?family=Block+Berthold+Regular);
@import url('https://fonts.cdnfonts.com/css/lexend');

:root {
    --colorPalletOne: #612C8A;
    --colorPalletTwo: #F4C301;
    --colorPalletThree: #FF3366;
    --fontOne: 'Lexend', sans-serif;;
    --fontTwo: 'Bogart', sans-serif;
    --fontThree: 'Recoleta', sans-serif;
    --fontFour: 'Block Berthold Regular';
}

::-webkit-scrollbar {
    width: 12px; /* Largura da scrollbar */
    height: 12px; /* Altura para barras horizontais */
}

::-webkit-scrollbar-track {
    background: #FFFFFF; /* Cor do fundo da barra */
    border-radius: 6px; /* Arredondar a borda do track */
}

::-webkit-scrollbar-thumb {
    background: var(--colorPalletThree); /* Cor do "thumb" (a parte que desliza) */
    border-radius: 6px; /* Arredondar a borda do thumb */
    border: 3px solid #FFFFFF; /* Cria um espaço entre o thumb e o track */
}

::-webkit-scrollbar-thumb:hover { background: var(--colorPalletTwo); } /* Cor ao passar o mouse */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fontFour);
    overflow-x: hidden;
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: var(--fontTwo);
}

.snowflake { font-family: Arial, sans-serif; }  /* Set a clean font for Unicode snowflakes */

header {
    width: 100%;
    height: 20rem;
    background-image: url("../assets/imgs/LogoHeader.webp");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    z-index: 999;
}

nav > ul {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-bottom: solid 0.2rem var(--colorPalletOne);
    border-radius: 1rem;
    font-family: var(--fontFour);
    background: var(--colorPalletTwo);
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
}

.navResponsive, .optResponvisve { display: none; }

nav ul > li {
    width: 20%;
    height: 100%;
    display: flex;
}

nav li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.imgHome { width: 10%; }

.imgHome a {
    background-image: url("../assets/imgs/LogoHome.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.diff { width: 8%; }

.more { flex-wrap: wrap; }

.more:hover > .subMenu{ display: block; }

.subMenu {
    position: relative;
    display: none;
    right: 21.1rem;
    width: 30rem;
    height: auto;
    border-top-right-radius: 1rem;
    background-color: var(--colorPalletOne);
}

.subMenu li {
    width: 30rem;
    height: 3rem;
}

.subMenu a { color: #FFFFFF; }

nav a:hover { background-color: var(--colorPalletThree); }

.first:hover {
    background-color: var(--colorPalletThree);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.last:hover {
    background-color: var(--colorPalletThree);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.subMenu:hover { display: block; }

.subMenu a:hover {
    color: #000000;
    background-color: var(--colorPalletTwo);
}

.subMenu .first:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
}

main {
    width: 100%;
    height: 100rem;
    background-color: var(--colorPalletThree);
}

/* -- achados.ejs -- */

.achadosMain {
    height: 50rem;
    padding-bottom: 1rem;
}

.achadosSection {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.album {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.perdidos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.perdidos img {
    width: 60%;
    margin: 1rem;
}

.perdidos label, .perdidos span {
    width: 90%;
    height: auto;
    padding: 0.3rem;
    font-size: 1.2rem;
    align-content: center;
    text-transform: uppercase;
}

.perdidos span:nth-last-of-type(2n-1) {
    background: #f4c30180;
    color: #FFFFFF;
}

.perdidos button {
    width: 9rem;
    height: 2rem;
    margin-top: 1rem;
    display: flex;
    border-radius: 0.5rem;
}

.perdidos a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fontFour);
    letter-spacing: 1px;
    background: var(--colorPalletTwo);
    color: var(--colorPalletThree);
    align-content: center;
    border-radius: 0.5rem;
}

.perdidos a:hover {
    background: var(--colorPalletThree);
    color: var(--colorPalletOne);
}

.perdidos a:active {
    background: var(--colorPalletOne);
    color: var(--colorPalletTwo);
}

/* -- -- */

/* -- docente.ejs -- */

.mainDocentes {
    height: 40rem;
    display: flex;
    justify-content: center;
}

.sectionDocentes {
    width: 75rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    padding: 0 0 0 9rem;
}

.container {
    height: 400px;
    width: 300px;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    margin: 0 3rem;
}

.image {
    background-image: url('../assets/imgs/LogoHome.png'), linear-gradient(var(--colorPalletTwo), var(--colorPalletThree));
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image h2 {
    text-align: center;
    margin-top: 170px;
    color: #000000;
}

.image p {
    text-align: center;
    margin-top: 10px;
    color: #000000;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.content {
    height: 80px;
    width: 230px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    left: 10%;
    position: relative;
    z-index: -1;
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    top: -30%;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}

.pens,
.followers,
.projects {
    padding-top: 15px;
    padding-right: 1.5rem;
    color: rgb(143, 145, 146);
    font-size: small;
}

.pens {
    padding-left: 25px;
}

.num {
    font-size: x-large;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color: rgb(236, 42, 149);
}

.image button {
    padding: 5px 10px;
    border: 0.5px solid rgb(153, 141, 141);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.image button:focus {
    outline: none;
}

.image button:hover {
    background-color: rgb(243, 94, 119);
    border: none;
}

/* -- -- */

/* -- localizacao.ejs -- */

.localizacao {
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}

.contactContainer{
    width: 85%;
    height: 40%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contactContainer .contactContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactContainer .contactContent .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.contactContent .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.contactContent .left-side .details{
    margin: 14px;
    text-align: center;
}

.contactContent .left-side .details i{
    font-size: 30px;
    color: var(--colorPalletOne);
    margin-bottom: 10px;
}

.contactContent .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
    color: var(--colorPalletOne);
}

.contactContent .left-side .details .text-one,
.contactContent .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}

.details a { text-decoration: none; }

.right-side iframe {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
}

.contactContainer .contactContent .right-side{
    width: 75%;
    margin-left: 75px;
}

.contactContent .right-side .topic-text{
    font-family: var(--fontTwo);
    font-size: 2rem;
    font-weight: 600;
    color: var(--colorPalletOne);
}

.topic-text h1 {
    width: 100%;
    height: 2.5rem;
    font-size: 2rem;
    align-content: center;
}

.topic-text h2 {
    width: 100%;
    height: 1.5rem;
    align-content: center;
    font-size: 1rem;
    color: #000000;
}

.searchBox {
    width: 100%;
    height: 25rem;
}

#search-neighborhood, #search-streets,
#search-house {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#search-neighborhood h2, #search-streets h2,
#search-house h2 {
    width: 100%;
    height: 10%;
    align-content: center;
}

.searchResult {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.searchResult div {
    width: 95%;
    height: 95%;
    padding: 1rem 0 0 1rem;
    overflow: auto;
}

.searchResult h3 { text-transform: uppercase; }

.searchResult p {
    height: 1.7rem;
    align-content: center;
    text-transform: uppercase;
}

.searchResult p:nth-child(odd) {
    color: #FFFFFF;
    background: var(--colorPalletThree);
}

.inputSearch {
    width: 40%;
    height: 10%;
    align-content: center;
}

.inputSearch select {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#input-streets {
    width: 60%;
    height: 50%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#search-house .inputSearch { width: 100%; }

#search-house .inputSearch input { 
    width: 20%;
    height: 50%;
    font-size: 1rem;
    text-align: center;
    border: 1px dashed var(--colorPalletOne);
}

#search-house .inputSearch select {
    width: 20%;
}

.house {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.house h3, .house h4 {
    width: 50%;
    height: 2rem;
    align-content: center;
}

.house h3 { text-align: end; }
.house h4 { padding-left: 1rem; }

.house a {
    width: 25%;
    height: 4rem;
    text-align: center;
    align-content: center;
    border: 1px solid var(--colorPalletOne);
    color: #000000;
    background: var(--colorPalletTwo);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 3px 0.1rem var(--colorPalletOne);
}

.house a:hover {
    color: #FFFFFF;
    background: var(--colorPalletThree);
}

#resultadoPesquisa {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
}

#matricula {
    width: 100%;
    height: 85%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.docsMatricula {
    width: 50%;
    height: 6rem;
    column-count: 2;
    align-content: center;
    text-align: left;
    list-style: none;
    text-transform: uppercase;
}

.docsMatricula li {
    height: 2rem;
}

#numero {
    width: 12%;
    height: 17%;
    border: none;
    box-shadow: none;
}

/* -- -- */

/* -- calendario.ejs -- */

.articleCalendar { 
    height: 100%;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.calendarBody {
    width: 100%;
    height: 85%;
}

.calendarInfo {
    width: 50%;
    height: 15%;
    align-content: center;
}

.calendarInfo h3 {
    font-family: var(--fontOne);
    text-align: justify;
}

.currentDate {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.currentDate span {
    height: 100%;
    text-align: center;
    align-content: center;
}

#mouth { width: 20rem; }

.currentDate button {
    width: 2rem;
    height: 3rem;
    background-color: var(--colorPalletOne);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#prevMonth { margin-right: 1.5rem; }
#prevMonth:hover {
    box-shadow:
                5px 0px 0px 0px var(--colorPalletTwo),
                10px 0px 0px 0 var(--colorPalletThree),
                15px 0px 0px 0px var(--colorPalletOne);
}
#prevMonth:active {
    background-color: var(--colorPalletOne);
    box-shadow:
                5px 0px 0px 0px var(--colorPalletThree),
                10px 0px 0px 0 var(--colorPalletOne),
                15px 0px 0px 0px var(--colorPalletTwo);
}

#nextMonth { margin-left: 1.5rem; }
#nextMonth:hover {
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletTwo),
                -10px 0px 0px 0 var(--colorPalletThree),
                -15px 0px 0px 0px var(--colorPalletOne);
}
#nextMonth:active {
    background-color: var(--colorPalletOne);
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletThree),
                -10px 0px 0px 0 var(--colorPalletOne),
                -15px 0px 0px 0px var(--colorPalletTwo);
}

.schoolDays {
    width: 100%;
    height: 2rem;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
}

.calendar {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template-rows: 5rem 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#titleCalendar {
    width: 55%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid #000000;
}

#titleCalendar span {
    width: 3rem;
    text-align: center;
}

#bodyCalendar {
    width: 55%;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#bodyCalendar span {
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.holiday {
    background-color: #c2c2c2;
    color: #FF0000 !important
}

.previusMouth, .nextMouth {
    background-color: #c2c2c2;
    color: #808080;
}

.weekend {
    background-color: #808080;
    color: #FFFFFF;
}

#bodyCalendar span:hover {
    background-color: var(--colorPalletTwo);
    color: #FFFFFF;
}

#bodyCalendar span:focus {
    background-color: var(--colorPalletOne);
    color: #FFFFFF;
}

.events {
    width: 55%;
    height: 46rem;
    margin-top: 1rem;
    display: flex;
    border: solid 1px #000000;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: scroll;
}

.event {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.event span {
    width: 100%;
    text-align: center;
}

.event:nth-child(odd) {
    background-color: var(--colorPalletOne);
    color: #FFFFFF;
}

/* -- -- */

/* -- cardapio.ejs -- */

.mainCardapio {
    height: auto;
    overflow: hidden;
}

.articleCardapio { align-content: flex-start; }

.articleCardapio section { 
    padding: 0;
    overflow: auto;
}

.currentDay button {
    width: 2rem;
    height: 3rem;
    background-color: var(--colorPalletTwo);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#prevDay { margin-right: 1.5rem; }
#prevDay:hover {
    box-shadow:
                5px 0px 0px 0px var(--colorPalletOne),
                10px 0px 0px 0 var(--colorPalletThree),
                15px 0px 0px 0px var(--colorPalletTwo);
}
#prevDay:active {
    background-color: var(--colorPalletThree);
    box-shadow:
                5px 0px 0px 0px var(--colorPalletThree),
                10px 0px 0px 0 var(--colorPalletTwo),
                15px 0px 0px 0px var(--colorPalletOne);
}

#nextDay { margin-left: 1.5rem; }
#nextDay:hover {
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletOne),
                -10px 0px 0px 0 var(--colorPalletThree),
                -15px 0px 0px 0px var(--colorPalletTwo);
}
#nextDay:active {
    background-color: var(--colorPalletThree);
    box-shadow:
                -5px 0px 0px 0px var(--colorPalletThree),
                -10px 0px 0px 0 var(--colorPalletTwo),
                -15px 0px 0px 0px var(--colorPalletOne);
}

.rope {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 200px
}
  
.rope img { height: 200px }

.rope-left {
    float: left;
    margin-left: 150px
}

.rope-right {
    float: right;
    margin-right: 150px
}

.page1 {
    position: relative;
    width: 900px;
    height: 800px;
    margin: 0 auto;
    margin-top: -10px
}

.plate1 {
    position: absolute;
    top: 150px;
    left: 0px;
    transform: rotate(45deg);
    -moz-transition: 0.8s ease-out all;
    -webkit-transition: 0.8s ease-out all;
    -o-transition: 0.8s ease-out all;
    -ms-transition: 0.8s ease-out all;
    transition: 0.8s ease-out all
}

.plate1-active {
    left: -250px;
    transform: rotate(0deg)
}

.body-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--colorPalletOne);
    color: #fff;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.5)
}

.page1-title {
    width: 100%;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 160px;
    text-align: center;
    font-family: var(--fontThree);
    font-weight: 700;
    letter-spacing: 20px;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.page1-title-active {
    font-size: 180px;
    text-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.page1-desc {
    z-index: 98;
    position: absolute;
    top: 220px;
    width: 85%;
    left: 235px;
    padding: 50px;
    padding-left: 110px;
    padding-top: 150px;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.page1-desc-active {
    left: 215px;
    top: 250px;
    padding-left: 120px;
    background: #ff3366e6;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.page1-desc h3 {
    font-family: var(--fontTwo);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 10px
}

.page1-desc hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    opacity: 0.5
}

.page1-desc p {
    width: 600px;
    line-height: 40px;
    font-size: 1.2rem;
    opacity: 0.8
}

.page1-desc a {
    text-transform: uppercase;
    color: var(--colorPalletTwo);
}

.page1-desc a:hover { color: #FFFFFF;}
.page1-desc a:active { color: var(--colorPalletOne);}

.page2 {
    position: relative;
    width: 900px;
    height: 800px;
    margin: 0 auto
}

.pg2-middle-wrap {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 0;
    width: 100%;
    height: 500px
}

.pg2-green-back {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -15%;
    right: 0%;
    background: #f4c30180;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.pg2-green-back-active {
    width: 130%;
    right: -20%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.pg2-white-desc {
    position: absolute;
    width: 60%;
    top: 0%;
    left: 0%;
    background: #FFF;
    color: #2D3A4B;
    text-align: center;
    -moz-transition: 1s ease-out all;
    -webkit-transition: 1s ease-out all;
    -o-transition: 1s ease-out all;
    -ms-transition: 1s ease-out all;
    transition: 1s ease-out all
}

.pg2-white-desc-active {
    top: -10%;
    left: -20%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.pg2-white-desc .hr1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    opacity: 0.4
}

.pg2-white-desc .hr2 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg2-white-desc .hr3 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4
}

.pg2-white-desc .hr4 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg2-white-desc .hr5 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4
}

.pg2-white-desc .hr6 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.4
}

.pg2-white-desc h3 {
    color: #D39F8C;
    margin: 60px;
    font-size: 2rem
}

.pg2-white-desc h2 {
    font-family: var(--fontTwo);
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 10px;
    opacity: 0.8
}

.pg2-white-desc p {
    width: 60%;
    font-size: 1.4rem;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 30px
}

.pg2-photo-wrap {
    position: absolute;
    width: 70%;
    height: 120%;
    top: -20%;
    right: 0;
    background: #333;
    overflow: hidden;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.pg2-photo-wrap-active {
    right: -10%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

/*DESJEJUM*/
.pg2-photo {
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background-image: url("https://notbigmuzzy.github.io/codepen/example1/page4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: 4s ease-out all;
    -webkit-transition: 4s ease-out all;
    -o-transition: 4s ease-out all;
    -ms-transition: 4s ease-out all;
    transition: 4s ease-out all
}
  
.pg2-photo-active { left: -20% }

.grapes {
    position: absolute;
    top: 150px;
    left: 0px;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}
  
.grapes-active { left: -250px }

.page3 {
    position: relative;
    width: 900px;
    height: 800px;
    margin: 0 auto
}

.pg3-middle-wrap {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 0;
    width: 100%;
    height: 500px
}

.pg3-red-back {
    position: absolute;
    width: 100%;
    height: 115%;
    top: -20%;
    left: 0;
    background: #ff336680;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.pg3-red-back-active {
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
    width: 130%;
    left: -20%
}

.pg3-white-desc {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 0;
    background: #FFF;
    color: #2D3A4B;
    text-align: center;
    -moz-transition: 0.4s ease-out all;
    -webkit-transition: 0.4s ease-out all;
    -o-transition: 0.4s ease-out all;
    -ms-transition: 0.4s ease-out all;
    transition: 0.4s ease-out all
}

.pg3-white-desc-active {
    bottom: -10%;
    left: -10%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.pg3-white-desc .hr1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    opacity: 0.4
}

.pg3-white-desc .hr2 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg3-white-desc .hr3 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4
}

.pg3-white-desc .hr4 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg3-white-desc .hr5 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4
}

.pg3-white-desc .hr6 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.4
}

.pg3-white-desc h3 {
    color: #BA945C;
    margin: 60px;
    font-size: 2rem
}

.pg3-white-desc h2 {
    font-family: var(--fontTwo);
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 10px;
    opacity: 0.8
}

.pg3-white-desc p {
    width: 60%;
    font-size: 1.4rem;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 30px
}

.pg3-photo-wrap {
    position: absolute;
    width: 100%;
    height: 105%;
    bottom: 0;
    right: 0;
    background: #333;
    overflow: hidden;
    -moz-transition: 1s ease-out all;
    -webkit-transition: 1s ease-out all;
    -o-transition: 1s ease-out all;
    -ms-transition: 1s ease-out all;
    transition: 1s ease-out all
}

.pg3-photo-wrap-active {
    width: 100%;
    right: -20%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

/*ALMOÇO*/
.pg3-photo {
    position: absolute;
    left: -20%;
    width: 120%;
    height: 100%;
    background-image: url("https://notbigmuzzy.github.io/codepen/example1/page4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: 4s ease-out all;
    -webkit-transition: 4s ease-out all;
    -o-transition: 4s ease-out all;
    -ms-transition: 4s ease-out all;
    transition: 4s ease-out all
}
  
.pg3-photo-active { left: 0 }

.leafs {
    position: absolute;
    bottom: 100px;
    right: 0px;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}
  
.leafs-active { right: -350px }

.page4 {
    position: relative;
    width: 900px;
    height: 800px;
    margin: 0 auto
}

.pg4-middle-wrap {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 0;
    width: 100%;
    height: 500px
}

.pg4-bezh-back {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #f4c30180;
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}

.pg4-bezh-back-active {
    width: 130%;
    bottom: -15%;
    right: -20%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.pg4-white-desc {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    background: #FFF;
    color: #2D3A4B;
    text-align: center;
    -moz-transition: 1s ease-out all;
    -webkit-transition: 1s ease-out all;
    -o-transition: 1s ease-out all;
    -ms-transition: 1s ease-out all;
    transition: 1s ease-out all
}

.pg4-white-desc-active {
    width: 60%;
    top: -10%;
    left: -20%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

.pg4-white-desc .hr1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    opacity: 0.4
}

.pg4-white-desc .hr2 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg4-white-desc .hr3 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4
}

.pg4-white-desc .hr4 {
    width: 60%;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 5px
}

.pg4-white-desc .hr5 {
    width: 40%;
    margin: 0 auto;
    opacity: 0.4
}

.pg4-white-desc .hr6 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.4
}

.pg4-white-desc h3 {
    color: #F4AF49;
    margin: 60px;
    font-size: 2rem
}

.pg4-white-desc h2 {
    font-family: var(--fontTwo);
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 10px;
    opacity: 0.8
}

.pg4-white-desc p {
    width: 60%;
    font-size: 1.4rem;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 30px
}

.pg4-photo-wrap {
    position: absolute;
    width: 70%;
    height: 120%;
    top: -20%;
    right: 0;
    background: #333;
    overflow: hidden;
    -moz-transition: 1s ease-out all;
    -webkit-transition: 1s ease-out all;
    -o-transition: 1s ease-out all;
    -ms-transition: 1s ease-out all;
    transition: 1s ease-out all
}

.pg4-photo-wrap-active {
    right: -10%;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

/*SOBREMESA*/
.pg4-photo {
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background-image: url("https://notbigmuzzy.github.io/codepen/example1/page4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: 4s ease-out all;
    -webkit-transition: 4s ease-out all;
    -o-transition: 4s ease-out all;
    -ms-transition: 4s ease-out all;
    transition: 4s ease-out all
}
  
.pg4-photo-active { left: -20% }
  
.dessert {
    position: absolute;
    bottom: 20px;
    left: 0px;
    transform: rotate(30deg);
    -moz-transition: 0.6s ease-out all;
    -webkit-transition: 0.6s ease-out all;
    -o-transition: 0.6s ease-out all;
    -ms-transition: 0.6s ease-out all;
    transition: 0.6s ease-out all
}
  
.dessert-active {
    left: -300px;
    transform: rotate(0deg)
}
  
.page5 {
    position: relative;
    width: 900px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 200px
}
  
.page5 h3 {
    position: absolute;
    bottom: -80px;
    right: -80px;
    font-family: var(--fontTwo);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 10px;
    padding: 100px;
    background: var(--colorPalletThree);
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4)
}

/* -- -- */

/* -- login.ejs -- */

.mainLogin { height: 47rem; }

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headLogos, .loginForm {
    width: 30%;
    height: 40%;
    padding: 3rem;
    align-content: center;
    background: var(--colorPalletTwo);
}

.headLogos {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.loginForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.loginForm label, .loginForm input { 
    width: 70%;
    height: 10%;
    align-content: end;
    margin: 0.2rem;
}

.loginForm input {
    background: none;
    border: none;
    border-bottom: 1px solid;
}

.recoveryPass {
    width: 70%;
    height: 10%;
    margin: 0.4rem 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recoveryPass a { color: var(--colorPalletOne); }
.recoveryPass a:hover { color: var(--colorPalletThree); }

.loginForm hr {
    width: 80%;
    margin: 2rem 0;
    border: 1px solid var(--colorPalletThree);
}

#subBtn {
    width: 30%;
    height: 12%;
    color: #FFFFFF;
    font-weight: bolder;
    border: none;
    border-radius: 0.3rem;
    background: var(--colorPalletOne);
}

#subBtn:hover { background: var(--colorPalletThree); }

.imgLogo {
    width: 100%;
    height: 50%;
    background-image: url("../assets/imgs/LogoLogin2.webp");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

.headLogos h2, .headLogos h3 {
    width: 100%;
    height: 10%;
    align-content: center;
}

.headLogos h2 { font-size: 2.5rem; }
.headLogos h3 { font-size: 1.5rem; }

/* -- -- */

/* -- transparencia.ejs -- */

.transparenciaSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.menuTransp {
    width: 100%;
    height: 5%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menuTransp ul {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: solid 0.2rem var(--colorPalletOne);
    box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    background-color: var(--colorPalletTwo);
}

.menuTransp li {
    width: 15rem;
    height: 80%;
    align-content: center;
    text-align: center;
    border-radius: 1rem;
}

.menuTransp li:hover { background-color: var(--colorPalletThree); }

#horarioFunc, #horarioEducFis {
    width: 100%;
    height: 95%;
    display: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;
}

#horarioFunc h2, #horarioEducFis h2 {
    width: 100%;
    height: 5%;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.horariosFuncionarios {
    width: 95%;
    height: 90rem;
    border-collapse: collapse;
    color: #FFFFFF;
    text-align: center;
}

.horariosFuncionarios thead { height: 3rem; }

.horariosFuncionarios tr:nth-child(odd) { background-color: rgb(97 44 138 / 50%); }

.horariosFuncionarios tr:hover { background-color: rgba(244, 195, 1, 0.5); }

#normas {
    width: 95%;
    height: 80%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#normas h2 {
    width: 100%;
    height: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

.normasEscolares {
    width: 100%;
    column-count: 2;
    column-gap: 10rem;
}

.normasEscolares ul {
    padding: 1rem 0 1rem 3rem;
    font-size: 1.3rem;
}

.normasEscolares p {
    margin: 0.1rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.normasEscolares p:nth-child(odd) {
    background-color: rgba(97, 44, 138, 0.5);
    color: #FFFFFF;
}

#portarias {
    width: 90%;
    height: 60%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

#portarias div {
    width: 45%;
    margin: 1rem;
}

#portarias div:nth-child(odd) {
    background-color: var(--colorPalletOne);
    color: #FFFFFF;
}

#portarias div:nth-child(odd) > ul a {
    color: #FFFFFF;
}

#portarias label {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.3rem;
}

#portarias ul {
    width: 100%;
    height: 10rem;
    list-style: none;
    padding: 1rem;
    overflow-y: auto;
}

#portarias li {
    padding: 0.3rem;
}

#portarias a {
    color: #000000;
}

#portarias h2 {
    width: 100%;
    height: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
}

#patrimonio {
    width: 90%;
    height: 60%;
    background-color: #ffffff;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

/* -- -- */

footer {
    width: 100%;
    height: 10rem;
    display: flex;
    background-color: var(--colorPalletTwo);
}

.imgFooter {
    width: 30%;
    height: 100%;
    background-image: url("../assets/imgs/LogoFooter.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.local {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: var(--fontFour);
}

.local span {
    width: 100%;
    height: 1.5rem;
    align-content: center;
}

.titleFooter {
    font-family: var(--fontTwo);
    font-weight: bold;
    font-size: 1.5rem;
}

.local a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.local a:hover{
    text-decoration: underline;
    color: var(--colorPalletThree);
}

/* --- Responsividade --- */

@media (width < 1440px) {
    nav > ul { width: 60%; }
}

@media (width < 1281px) {
    .local { width: 60%; }
}

@media (width < 769px) {
    header { background-size: inherit; }
    nav { justify-content: flex-start; }

    nav > ul {
        width: 12%;
        display: none;
    }

    .navResponsive {
        position: relative;
        left: 0.1rem;
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0rem;
    }

    .optResponvisve {
        position: relative;
        width: 35%;
        height: 20rem;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        border-bottom: solid 0.2rem var(--colorPalletOne);
        border-top-left-radius: 0rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-family: var(--fontFour);
        background: var(--colorPalletTwo);
        box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    }

    .firstResponsive:hover {
        background-color: var(--colorPalletThree);
        border-top-right-radius: 1rem;
    }

    .lastResponsive:hover {
        background-color: var(--colorPalletThree);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .imgHome {
        width: 100%;
        height: 100%;
    }

    nav ul > li {
        width: 100%;
        height: 16%;
        display: flex
    }

    .diff { width: 100%; }

    .subMenu {
        right: 0;
        width: 17.1rem;
        border-radius: 0rem;
    }

    .subMenu li { width: 100%; }
    .subMenu .first:hover { border-radius: 0; }

    footer {
        height: 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .imgFooter {
        width: 60%;
        height: 100%;
    }

    .local {
        width: 100%;
        height: 100%;
    }

    .local span { height: auto; }
    .titleFooter { font-size: 1rem; }
    .mapResponsivo { overflow-x: scroll; }

    .localizacao {
        width: 80rem;
        display: flex;        ;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .contactContainer {
        width: 70rem;
        height: 45%;
        margin: 1rem;
    }

    .searchResult p { height: 2.5rem; }

    .mainLogin {
        height: 55rem;
        overflow-x: scroll;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .headLogos, .loginForm {
        width: 85%;
        height: 40%;
        padding: 1rem;
        margin: 1rem;
    }

    .imgLogo { background-size: inherit; }

    .headLogos h3 {
        font-size: 1rem;
    }

    .docsMatricula {
        width: 61%;
    }

    #numero {
        width: 17%;
    }

    .menuTransp {
        justify-content: flex-start;
    }

    #horarioFunc {
        justify-content: flex-start
    }

    .horariosFuncionarios {
        height: 125rem;
    }

    #normas {
        overflow: auto;
    }

    .normasEscolares {
        width: auto;
    }
}

@media (width < 426px) {
    header { background-size: 35rem; }
    nav { justify-content: flex-start; }

    nav > ul {
        display: none;
        width: 25%;
    }

    .navResponsive {
        position: relative;
        left: 0.1rem;
        display: flex;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 0rem;
    }

    .optResponvisve {
        position: relative;
        width: 60%;
        height: 20rem;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        border-bottom: solid 0.2rem var(--colorPalletOne);
        border-top-left-radius: 0rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-family: var(--fontFour);
        background: var(--colorPalletTwo);
        box-shadow: 0.4rem 0.2rem 0px 0.1rem var(--colorPalletOne);
    }

    .firstResponsive:hover {
        background-color: var(--colorPalletThree);
        border-top-right-radius: 1rem;
    }

    .lastResponsive:hover {
        background-color: var(--colorPalletThree);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .imgHome {
        width: 100%;
        height: 100%;
    }

    nav ul > li {
        width: 100%;
        height: 16%;
        display: flex
    }

    .diff { width: 100%; }

    .subMenu{ 
        right: 0;
        width: 13.4rem;
        border-radius: 0rem;
    }

    .subMenu li { width: 12.9rem; }

    .subMenu .first:hover { border-radius: 0; }

    footer {
        height: 15rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .imgFooter {
        width: 100%;
        height: 40%;
    }

    .local {
        width: 100%;
        height: 60%;
    }

    .local span { height: auto; }
    .titleFooter { font-size: 1rem; }
    .mapResponsivo { overflow-x: scroll; }

    .localizacao {
        width: 80rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .contactContainer {
        width: 70rem;
        height: 45%;
        margin: 1rem;
    }

    .searchResult p { height: 2.5rem; }

    .mainLogin {
        height: 55rem;
        overflow-x: scroll;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .headLogos, .loginForm {
        width: 85%;
        height: 40%;
        padding: 1rem;
        margin: 1rem;
    }

    .imgLogo { background-size: 30rem; }
    .headLogos h3 { font-size: 1rem; }

    .mainCalendar {
        overflow-x: scroll;
    }

    .articleCalendar {
        width: 75rem;
    }
}